<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <h1 th:text="'Detalles del Estudiante' + ' ' + ${estudiante.nombre} + ' '
    + ${estudiante.primerApellido} + ' ' + ${estudiante.segundoApellido}"></h1>

    <img th:src="@{/images/}+${estudiante.foto}" alt="Imagen de un gato">

    <div>
        Telefonos:
        <ul>
            <li th:each=" telefono : ${telefonos}" th:text="${telefono}" ></li>
        </ul>
    </div>
</body>
</html>